<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script(src="https://code.jquery.com/jquery-3.5.1.js")
        script(src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js")
        script(src="script.js")
        link(rel='stylesheet', href='/style.css')
        link(rel="stylesheet", href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css")
        title View Activities
    body
        div(class="tablePage")
            label(for="dropDown") Filter by type of activity:
            select(name='dropDown', id="dropDown" onchange="filterText()")
                each val in ['All','Sport','Food']
                    option=val
            table(id="activityTable")
                thead
                    th  Activity Name
                    th  Location
                    th  Type
                    th  Average Time Taken (minutes)
                tbody
                    each activity in activities
                        tr(class="content")
                            td #{activity.name}
                            td #{activity.location}
                            td(class="contentType") #{activity.type}
                            td #{activity.activity_time_minutes}
